<h1>Forks and Tent | Posts</h1>

<div id="jayce">
 <% @posts.each do |post| %>
	<h2><%= link_to post.title, post %></h2>
	<p> 
		<%= time_ago_in_words post.created_at %> ago
	</p>
	<p>
	<%= post.text %>
	</p>
	
<%end%>
</div>
